!!! 5
%html
  %head
    %title Badminton Software Suite | Goose
    %meta{ charset: 'utf-8' }/
    %link{ rel: 'stylesheet',
           type: 'text/css',
           href: '/style.css' }/
  %body
    #content
      %img{ src: '/images/goose-head-small.png' }/
      = yield
