!!! 5
%html
  %head
    %title Badminton Software Suite | Goose
    -# Alternative Ruby hash syntax currently causes a bug with yield block indentation as of version 3.1.2: https://github.com/nex3/haml/issues/424.
    %link{ :rel => "stylesheet",
           :type => "text/css",
           :href => "/style.css" }
  %body
    #content
      %img{ :src => "/images/goose-head-small.png" }/
      = yield
