*
  padding: 0
  margin: 0

body
  font-family: arial, helvetica, sans-serif
  line-height: 18px

h1
  margin-bottom: 18px
  color: #aaa

h3
  margin-left: 18px
  font-size: 15px

p
  font-size: 13px
  margin-bottom: 18px
  padding-left: 16px
  border: 0px
  border-left: 2px
  border-color: #aaa
  border-style: solid
  width: 400px

#content
  margin-top: 18px
  margin-left: 36px

